.form{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    align-items: center;
    
}
.btn{
    width: auto;
    display: flex;
    justify-content: center;
}
.table{
    width: 100%;
    border-collapse: collapse;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.t-head,.t-body{
    width: 100%;
    text-align: center;
}
@tailwind base;
@tailwind components;
@tailwind utilities;